@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{
	text-align:center;
	font-size:30px;

	}
@media only screen and (max-width: 1140px) {
	.status-page,
	.CHANGEPASSWORD2-page,
	.account-page{
	width:80% !important;
	left:10% !important;

}
.memorablePassword-page,
.register-page{
	left:25% !important;
	width:50% !important;
}

.options-page{
	width:50% !important;
	left:25% !important;
}
}
@media only screen and (max-width: 768px) {
	.status-page,	
	.CHANGEPASSWORD2-page,
	.account-page{
	width:100% !important;
	left:0% !important;

}
.options-page{
	width:70% !important;
	left:15% !important;
}
.memorablePassword-page,
.register-page{
	left:15% !important;
	width:70% !important;
}
#gamePanel{

	background-image:none !important;

}

}
@media only screen and (max-width: 576px) {
.animationMenu1{
    animation: animation13 1s normal forwards !important;
}
.animationMenuSelect1{
    animation: animationSelect11 1s normal forwards !important;
}
.animationMenu1On{
    animation: animation15 0.5s normal forwards !important;
}
.animationMenu1In{
    animation: animation16 0.5s normal forwards !important;
}
.memorablePassword-page,
.register-page{
	left:5% !important;
	width:90% !important;
}



.animationMenu0{
    animation: animation14 1s normal forwards !important;
}
.animationMenuSelect0{
    animation: animationSelect10 1s normal forwards !important;
}
.animationMenu0On{
    animation: animation17 0.5s normal forwards !important;
}
.animationMenu0In{
    animation: animation18 0.5s normal forwards !important;
}
.options-page{
	width:100% !important;
	left:0% !important;

}
.login-page {
  margin: auto !important;
 margin-top:20% !important;
}
}

.score{
	font-size:20px;
	color:#cf324e;
	margin:0px;
}
.difficultyDisplays{
	font-size:27px;
	color:#cf324e;

}
.infoAccount{
	font-size:25px;
	line-height:25px !important;
	padding:17px;
}
.level{
	font-size:25px;
	color:#cf324e;
	margin:0px;
}
.stringRegister{
	color:#fff !important;

}
a{
	text-decoration: none;
	color:#fff;
}
a:hover {
	text-decoration: none;
	color:#fff;
}
.copy{
	color:#fff;
	font-size:11px;
	margin-bottom:0px;
	margin-top:10px;
}
.status-page,
.CHANGEPASSWORD2-page,
.about-page,
.CHANGELOGIN-page,
.CHANGEPASSWORD-page,
.CHANGEE-MAIL-page{
	display:none;
}
#loginPanel{

	background-image:url("index.png");
    display: table;
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    text-align:center;
}
.formChange
{    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.24) !important;}
#gamePanel{

	background-image:url("background2.png");
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
	background-position: center bottom;
    text-align:center;
	display:none;
	background-color:#202227;
}
.levelOfDifficulty{
	width:100%;
	height:27%;
	margin-top:7%;
	background:#202227;
	color:#fff;
	border:3px solid #cf324e;

}
.levelOfDifficulty:hover,.levelOfDifficulty:active,.levelOfDifficulty:focus {
  cursor:pointer;
  background: #101217;
  color:#cf324e;
}
.account{
	font-size:100%;
	width:100%;
	height:100%;
	margin-top:5%;
	background:#202227;
	color:#fff;
	border:3px solid #cf324e;
	padding:3%;
}
.col-md-6{
	min-width:300px;
}
.Back,
.accountButtonLogOut{
	background:#cf324e;
}
.accountButton:hover,.accountButton:active,.accountButton:focus {
  background: #101217;
  color:#cf324e;
  cursor:pointer;
}
.accountButtonLogOut:hover,.accountButtonLogOut:active,.accountButtonLogOut:focus {
  cursor:pointer;
  background: #bf223e;
  border:3px solid #bf223e;
}
.row
{
	margin-left:0px;
	margin-right:0px;
}
.main
{
	padding:0px;
}
.memorablePassword-page,
.register-page{
  position:absolute;
  top:20%;
  left:40%;
  display:none;
  z-index:2;
  width:30% ;
  left:35%;
  margin-top:0px;
}
.topDiv
{
	color:#fff;
	height:auto;
	margin:10px;}
.col-md-1{
	min-width:94px;
}

.window{
	border:3px solid #cf324e;
	color:#cf324e;
	border-radius:5px;
	background-color:#202227;
	height:100px;
	margin:10px 0 10px 0;
	line-height:86px;
	width:100%;
	padding:0px;
	text-align:center;
}
.langList
{	margin-top:5%;
	height:300px;
	line-height:140% !important;
	padding:10px;
	overflow-y: auto;
}
#langButton{
	background-color:#202227;
}
.fadeIn2{
	animation-play-state:running;
	position:absolute;
	background-color:#000;
	width:100%;
	height:100%;
	display:none;
    animation: animation1 2s normal  forwards;
}
.fadeOut2{
	animation-play-state:running;
	position:absolute;
	background-color:#000;
	width:100%;
	height:100%;
	display:none;
    animation: animation2 2s normal forwards;
	display:none;
}
.animationMenu1{
    animation: animation3 1s normal forwards;
	display:block;
}
.animationMenuSelect1{
    animation: animationSelect1 1s normal forwards;
	display:block;
}
.animationMenu1On{
    animation: animation5 0.5s normal forwards;
	display:block;
}
.animationMenu1In{
    animation: animation6 0.5s normal forwards;
	display:block;
}





.animationMenu0{
    animation: animation4 1s normal forwards;
	display:block;
}
.animationMenuSelect0{
    animation: animationSelect0 1s normal forwards;
	display:block;
}
.animationMenu0On{
    animation: animation7 0.5s normal forwards;
	display:block;
}
.animationMenu0In{
    animation: animation8 0.5s normal forwards;
	display:block;
}
.status-page,
.CHANGEPASSWORD2-page,
.account-page{
	border:3px solid #cf324e;
	color:#cf324e;
	border-radius:5px;
	background-color:#202227;
	position:absolute;
	top:auto;
	left:auto;
	height:auto;
	width:40%;
	display:none;
	z-index:2;
	left:30%;
	top:12.5%;
	padding:0 20px 20px 20px;

}
.account-pageMenu > div{
	width:%;
	font-size:20px;
	padding:0px;
}
.options-page{
	border:3px solid #cf324e;
	color:#cf324e;
	border-radius:5px;
	background-color:#202227;
	position:absolute;
	top:auto;
	left:auto;
	height:auto;
	width:20%;
	display:none;
	z-index:2;
	left:40%;
	top:25%;
	padding:0 20px 20px 20px;
}
@keyframes animation1
{
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}
@keyframes animation2
{
  from {
    opacity: 0.8;
  }

  to {
    opacity: 0;
  }
}





@keyframes animation7
{
  from {
    opacity:1;
  }

  to {
    transform: translateX(-50%);
	opacity:0;
  }
}
@keyframes animation8
{
  from {
	transform: translateX(250%);
	opacity:0;
  }

  to {
	transform: translateX(200%);
    opacity:1;
  }
}
@keyframes animation4
{
  from {

  }

  to {
	font-size:20px;
    transform: translateX(-100%);

  }
}
@keyframes animationSelect1
{
  from {

  }

  to {
    font-size:25px;
	transform: translateX(100%);
  }
}
@keyframes animationSelect0
{
  from {

  }

  to {
    font-size:25px;
	transform: translateX(-100%);
  }
}





@keyframes animation5
{
  from {
    opacity:1;
  }

  to {
    transform: translateX(50%);
	opacity:0;
  }
}
@keyframes animation6
{
  from {
	transform: translateX(-250%);
	opacity:0;
  }

  to {
	transform: translateX(-200%);
    opacity:1;
  }
}
@keyframes animation3
{
  from {

  }

  to {
	font-size:20px;
    transform: translateX(100%);
  }
}


.dimness{
	width:100%;
	height:100vh;
	display:none;
	z-index:1;
}

.account-pageContent0,
.account-pageContent2{
	display:none;
}

.account-pageContent2{
max-height: 600px;
overflow-y: auto;

}
@keyframes animation17
{
  from {
    opacity:1;
  }

  to {
    transform: translateY(-50%);
	opacity:0;
  }
}
@keyframes animation18
{
  from {
	transform: translateY(250%);
	opacity:0;
  }

  to {
	transform: translateY(225%);
    opacity:1;
  }
}
@keyframes animation14
{
  from {

  }

  to {
	font-size:20px;
    transform: translateY(-100%);

  }
}
@keyframes animationSelect11
{
  from {

  }

  to {
    font-size:25px;
	transform: translateY(80%);
  }
}
@keyframes animationSelect10
{
  from {

  }

  to {
    font-size:25px;
	transform: translateY(-80%);
  }
}





@keyframes animation15
{
  from {
    opacity:1;
  }

  to {
    transform: translateY(50%);
	opacity:0;
  }
}
@keyframes animation16
{
  from {
	transform: translateY(-250%);
	opacity:0;
  }

  to {
	transform: translateY(-225%);
    opacity:1;
  }
}
@keyframes animation13
{
  from {

  }

  to {
	font-size:20px;
    transform: translateY(100%);
  }
}








.colorRed1{
    animation: colorRed1 0.2s normal forwards;
}
.colorRed2{
    animation: colorRed2 0.2s normal forwards;
}
.colorGreen1{
    animation: colorGreen1 0.2s normal forwards;
}
.colorGreen2{
    animation: colorGreen2 0.2s normal forwards;
}
@keyframes colorRed1
{
  from {
	  color:#fff;
  }

  to {
	  color:#A52A2A;
  }
}
@keyframes colorRed2
{
  from {
	  color:#A52A2A;
  }

  to {
	  color:#fff;
  }
}
@keyframes colorGreen1
{
  from {
	  color:#fff;
  }

  to {
	  color:#008000;
  }
}
@keyframes colorGreen2
{
  from {
	  color:#008000;
  }

  to {
	  color:#fff;
  }
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin-left: 19%;
  margin-top: 21%;
  line-height: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: none;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.startGame,
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.Back:hover,.Back:active,.Back:focus {
cursor: pointer;
background-color: #bf223e;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.startGame{
	margin:10px 0 10px 0;
	width:100%;
	height:auto;
	font-size:auto;
	border-radius:5px;
	height:100px;
	line-height:86px;
	width:100%;
	padding:0px;
	font-size: 70%;
	background: #696969;
}
#ok{
	font-size:100%;
	background-color:#696969;
}
.error{
opacity:1;
font-size:12px;
color:#fff;
}
.langButton{
	border:3px solid #cf324e;
	color:#cf324e;
	border-radius:5px;
	background-color:#202227;
	margin:2px;
}
.langButton:hover,.langButton:active,.langButton:focus {
  background: #101217;
  color:#cf324e;
  cursor:pointer;
}
#rankingg{
width: 100%;
}
tr{
	border-bottom: 2px solid #cf324e;
}

.logo
{
	margin-top: 10px;
	text-align: center;
	font-size: 52px;
	color:#cf324e;
}

.text
{
	text-align: center;
	margin-bottom: 50px;
}

.version
{
	font-size: 26px;
	text-align: left;
	color: #868686;
	margin-bottom: 0px;
}

.build
{
	margin-top: 0px;
	font-size: 24px;
	text-align: left;
	color: #868686;
}

.about
{
	text-align: center;
	color: white;
}

.github
{
	opacity: 0.8;
}

.github:hover
{
	opacity: 1;
}

#idCHANGE {
	color: white;
}

#nickCHANGE {
	color: white;
}

.data {
	margin-top: 50px;
}
