<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>MasterLangg</title>
	<meta name="description" content="MasterLangg" />
	<meta name="keywords" content="MasterLangg" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/Img/style.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="/assets/js/animation2.js"></script>



</head>
<body>
<div class="dimness" ></div>
<div id="loginPanel">
<div class="account-page">
		<div class="CHANGEPASSWORD-page">
			<input class="Back account"type="submit" value="Back"/>
			<p>User ID: {{ id }}</p>
			<p>User name: {{ nick }}</p>
			<div class="form formChange">
				<form class="formCHANGEPASSWORD">
					<input type="password" class="ChangePASSWORD1" placeholder="New Password"/>
					<input type="password" class="ChangePASSWORD2" placeholder="Repeat New Password"/>
					<p class="error" id="error1"><p>
					<button id="ChangePASSWORD" >Change</button>
				</form>
			</div>
		</div>
</div>



</body>
</html>
