<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>MasterLangg</title>
	<meta name="description" content="MasterLangg" />
	<meta name="keywords" content="MasterLangg" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/Img/style.css" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="/assets/js/jquery.scrollTo.min.js"></script>
	<script src="/assets/js/animation.js"></script>



</head>
<body>
<div class="dimness" ></div>
<div id="loginPanel">

	<div class="login-page">
		<div class="form">
			<input type="text" id="login" placeholder="username"/>
			<input type="password" id="password" placeholder="password"/>
			<button class="start" >login</button>
			<p class="error" id="errorLogin"><p>
			<p class="message">Not registered? <a href="#" id="registerAnimation">Create an account.</a>
						Have you forgotten your password? <a href="#" id="memorablePasswordAnimation">Remind Password.</a></p>
			<p class="copy" >&copy; by Mateusz Pijanowski and Michał Kubiak</p>
		</div>
	</div>
</div>
<div class="register-page">
	<div class="form">
		<p class="stringRegister" >REGISTRATION</p>
		<input type="text" placeholder="name" id="loginRegister"/>
		<input type="password" placeholder="password" id="password1"/>
		<input type="password" placeholder="password" id="password2"/>
		<input type="text" placeholder="email address" id="emailRegister"/>
		<button id="startRegister">create</button>
		<p class="error" id="errorRegister"><p>
		<p class="message">Already registered? <a href="#" class="loginAnimation">Sign In</a></p>
	</div>
</div>
<div class="memorablePassword-page">
	<div class="form">
		<p class="stringRegister" >Remind Password</p>
		<input type="text" placeholder="email address" id="emailMemorablePassword"/>
		<button id="startMemorablePassword">SEND</button>
		<p class="error" id="errorMemorablePassword"><p>
		<p class="message">Already registered? <a href="#" class="loginAnimation">Sign In</a></p>
	</div>
</div>
<div class="account-page">
	<div class="account-page-content container-fluid">
		<div class="account-pageMenu row">
			<div class="account-pageMenu0 col-sm-4"><a href="#" class="registerAnimationMenu0">EDIT ACCOUNT</a></div>
			<div class="account-pageMenu1 col-sm-4"><a href="#" class="registerAnimationMenu1" style="font-size: 25px;">USER ACCOUNT</a></div>
			<div class="account-pageMenu2 col-sm-4"><a href="#" class="registerAnimationMenu2">RANKING</a></div>
		</div>

		<div class="account-pageContent1">
			<div class="account" id="nick">NICK: </div>
			<div class="account accountButton rankingPosition">Ranking position: </div>
			<div class="account" id="score">Score: </div>
			<div class="account accountButton about">About MasterLangg</div>
			<input class="accountButtonLogOut account"type="submit" value="LOGOUT"/>
		</div>
		<div class="account-pageContent0">
			<div class="account infoAccount"><p class="nick">Nick: </p>
							 <p class="email">E-mail: </p>
			</div>
			<input class="accountButton account CHANGELOGIN"type="submit" value="Change LOGIN"/>
			<input class="accountButton account CHANGEPASSWORD"type="submit" value="Change PASSWORD"/>
			<input class="accountButton account CHANGEE-MAIL"type="submit" value="Change E-MAIL"/>
		</div>
		<div class="account-pageContent2">
			<table id="rankingg">
			</table>
		</div>
	</div>
	<div class="about-page">
		<input class="Back account"type="submit" value="Back"/>
		<div class="form formChange">
			<form class="formCHANGEE-MAIL">
Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV 			</form>
		</div>
	</div>
	<div class="CHANGELOGIN-page">
		<input class="Back account"type="submit" value="Back"/>
		<div class="form formChange">
			<form class="formCHANGELOGIN">
				<input type="text" class="ChangeLOGIN"  placeholder="New Login"/>
				<p class="error" id="error0"><p>
				<button id="ChangeLOGIN" >Change</button>
			</form>
		</div>
	</div>
	<div class="CHANGEPASSWORD-page">
		<input class="Back account"type="submit" value="Back"/>
		<div class="form formChange">
			<form class="formCHANGEPASSWORD">
				<input type="password" class="ChangePASSWORD1" placeholder="New Password"/>
				<input type="password" class="ChangePASSWORD2" placeholder="Repeat New Password"/>
				<p class="error" id="error1"><p>
				<button id="ChangePASSWORD" >Change</button>
			</form>
		</div>
	</div>
	<div class="CHANGEE-MAIL-page">
		<input class="Back account"type="submit" value="Back"/>
		<div class="form formChange">
			<form class="formCHANGEE-MAIL">
				<input type="text" class="ChangeMAIL"  placeholder="New E-Mail"/>
				<p class="error" id="error2"><p>
				<button id="ChangeMAIL" >Change</button>
			</form>
		</div>
	</div>
</div>
<div class="options-page">
	<input class="levelOfDifficulty" id="EASY" type="submit" value="EASY"/>
	<input class="levelOfDifficulty" id="NORMAL" type="submit" value="NORMAL"/>
	<input class="levelOfDifficulty" id="HARD" type="submit" value="HARD"/>
</div>

<div id="gamePanel">
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-3">
				<div class="topDiv" >
					<a href='#' id='account'> YOUR ACCOUNT</a>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="topDiv">
					<p class="score">SCORE</p>
					<p id="score2">9608</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="topDiv">
					<a href="#"id="options" >DIFFICULTY</a><p class="difficultyDisplays">Hard</p>
				</div>
			</div>
			<div class="offset-xl-2 col-xl-1 offset-md-2 col-md-2">
				<div class="window" id="DETECTLANG">
				</div>
			</div>
			<div class="col-xl-5 col-md-3">

				<input type="text" class="window" id="quotation" placeholder="Give a text"/>
			</div>
			<div class="col-md-1">
				<button id="startGame" class="startGame">Start</button>

			</div>
			<div class="col-xl-1 col-md-2">
				<div class="window" id="timer">
				</div>
			</div>
			<div class="col-xl-12">
				<img src="/assets/Img/arrow.png">
			</div>

			<div class="offset-xl-2 col-xl-1 offset-md-2 col-md-2">
				<div class="window" id="langClick">
				</div>
			</div>
			<div class="col-xl-6 col-md-4">
				<div class="window" id="TRANSTEXT">
				</div>
			</div>
			<div class="col-xl-1  col-md-2 ">
				<button class="startGame" id="ok">OK</button>
			</div>
			<div class="offset-md-2 col-md-8 offsset-md-2">
				<div class="window langList">
					<button id="az" class="langButton">Azerbaijan</button>
					<button id="sq" class="langButton">Albanian</button>
					<button id="am" class="langButton">Amharic</button>
					<button id="en" class="langButton">English</button>
					<button id="ar" class="langButton">Arabic</button>

					<button id="hy" class="langButton">Armenian</button>
					<button id="af" class="langButton">Afrikaans</button>
					<button id="eu" class="langButton">Basque</button>
					<button id="ba" class="langButton">Bashkir</button>
					<button id="be" class="langButton">Belarusian</button>

					<button id="bn" class="langButton">Bengali</button>
					<button id="my" class="langButton">Burmese</button>
					<button id="bg" class="langButton">Bulgarian</button>
					<button id="bs" class="langButton">Bosnian</button>
					<button id="cy" class="langButton">Welsh</button>

					<button id="hu" class="langButton">Hungarian</button>
					<button id="vi" class="langButton">Vietnamese</button>
					<button id="ht" class="langButton">Haitian (Creole)</button>
					<button id="gl" class="langButton">Galician</button>
					<button id="nl" class="langButton">Dutch</button>

					<button id="mrj" class="langButton">Hill Mari</button>
					<button id="el" class="langButton">Greek</button>
					<button id="ka" class="langButton">Georgian</button>
					<button id="gu" class="langButton">Gujarati</button>
					<button id="da" class="langButton">Danish</button>

					<button id="he" class="langButton">Hebrew</button>
					<button id="yi" class="langButton">Yiddish</button>
					<button id="id" class="langButton">Indonesian</button>
					<button id="ga" class="langButton">Irish</button>
					<button id="it" class="langButton">Italian</button>

					<button id="is" class="langButton">Icelandic</button>
					<button id="es" class="langButton">Spanish</button>
					<button id="kk" class="langButton">Kazakh</button>
					<button id="kn" class="langButton">Kannada</button>
					<button id="ca" class="langButton">Catalan</button>

					<button id="ky" class="langButton">Kyrgyz</button>
					<button id="zh" class="langButton">Chinese</button>
					<button id="ko" class="langButton">Korean</button>
					<button id="xh" class="langButton">Xhosa</button>
					<button id="km" class="langButton">Khmer</button>

					<button id="lo" class="langButton">Laotian</button>
					<button id="la" class="langButton">Latin</button>
					<button id="lv" class="langButton">Latvian (Creole)</button>
					<button id="lt" class="langButton">Lithuanian</button>
					<button id="lb" class="langButton">Luxembourgish</button>

					<button id="mg" class="langButton">Malagasy</button>
					<button id="ms" class="langButton">Malay</button>
					<button id="ml" class="langButton">Malayalam</button>
					<button id="mt" class="langButton">Maltese</button>
					<button id="mk" class="langButton">Macedonian</button>

					<button id="mi" class="langButton">Maori</button>
					<button id="mr" class="langButton">Marathi</button>
					<button id="mhr" class="langButton">Mari</button>
					<button id="mn" class="langButton">Mongolian</button>
					<button id="de" class="langButton">German</button>

					<button id="ne" class="langButton">Nepali</button>
					<button id="no" class="langButton">Norwegian</button>
					<button id="pa" class="langButton">Punjabi</button>
					<button id="pap" class="langButton">Papiamento</button>
					<button id="fa" class="langButton">Persian</button>

					<button id="pl" class="langButton">Polish</button>
					<button id="pt" class="langButton">Portuguese</button>
					<button id="ro" class="langButton">Romanian</button>
					<button id="ru" class="langButton">Russian</button>
					<button id="ceb" class="langButton">Cebuano</button>

					<button id="sr" class="langButton">Serbian</button>
					<button id="si" class="langButton">Sinhala</button>
					<button id="sk" class="langButton">Slovakian (Creole)</button>
					<button id="sl" class="langButton">Slovenian</button>
					<button id="sw" class="langButton">Swahili</button>

					<button id="su" class="langButton">Sundanese</button>
					<button id="tg" class="langButton">Tajik</button>
					<button id="th" class="langButton">Thai</button>
					<button id="tl" class="langButton">Tagalog</button>
					<button id="ta" class="langButton">Tamil</button>

					<button id="tt" class="langButton">Tatar</button>
					<button id="te" class="langButton">Telugu</button>
					<button id="tr" class="langButton">Turkish</button>
					<button id="udm" class="langButton">Udmurt</button>
					<button id="uz" class="langButton">Uzbek</button>

					<button id="uk" class="langButton">Ukrainian</button>
					<button id="ur" class="langButton">Urdu</button>
					<button id="fi" class="langButton">Finnish</button>
					<button id="fr" class="langButton">French</button>
					<button id="hi" class="langButton">Hindi</button>

					<button id="hr" class="langButton">Croatian</button>
					<button id="cs" class="langButton">Czech</button>
					<button id="sv" class="langButton">Swedish</button>
					<button id="gd" class="langButton">Scottish</button>
					<button id="et" class="langButton">Scottish</button>

					<button id="eo" class="langButton">Esperanto</button>
					<button id="jv" class="langButton">Javanese</button>
					<button id="ja" class="langButton">Japanese </button>
				</div>
			</div>
		</div>
		<p class="copy" >&copy; by Mateusz Pijanowski and Michał Kubiak</p>
	</div>
</div>
</body>
</html>
